$variable-prefix: bigdclassic-;

$font-family-sans-serif:
        "Nunito",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";

@import '../node_modules/bootstrap/scss/bootstrap.scss';
