.Navbar {
  min-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.Brand {
  background: url('/logo-50x50.jpg') 0% 0% no-repeat;
  text-indent: 60px;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
