.MainText {
  .Logo {
    width: 100%;
    height: auto;
  }

  .Dates {
  }

  .City {
  }

  .BeneficiaryLogo {
    width: 100%;
    height: auto;
  }
  .FloatingLogo {
    width: 9rem;
    height: auto;

    @media (min-width: 576px) {
      width: 12rem;
    }
    @media (min-width: 992px) {
      width: 16rem;
    }
  }
}
