.MainText {
  .Logo {
    width: 100%;
    height: auto;
  }

  .Dates {
  }

  .City {
  }

  .BeneficiaryLogo {
    width: 100%;
    height: auto;
  }
  .FloatingLogo {
    width: 10rem;
    height: auto;
  }
}
