.TriosRules {
  @media (min-width: 768px) {
    p {
      margin: 0.5rem;
    }
  }

  ol {
    padding-left: 0;


    & > li {
      list-style-type: none;

      margin-bottom: 1rem;

      & > ol > li {
        list-style-type: decimal;
        margin-left: 1.5rem;
        margin-bottom: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }
}
