@import 'bigdclassic-bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

html {
  body {
    section {
      margin-left: 0.5rem;
      margin-right: 0.5rem;

      position: relative;

      a, a:hover {
        text-decoration: underline solid rgba(var(--bigdclassic-link-color-rgb), 50%) 1px;
      }

      @media (min-width: 576px) {
      }
      @media (min-width: 768px) {
        a {
          text-decoration: none;
        }
      }
      @media (min-width: 992px) {
      }

      padding-bottom: 0.5rem;
      @media(min-width: 768px) {
        padding-bottom: 1rem;
      }

      .section-heading {
        padding-top: 0.75rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;

        color: var(--bigdclassic-section-heading-color);
        background-color: var(--bigdclassic-section-heading-bg-color);
      }

    }
  }
}

html, body {
  overflow-x: hidden;
}
